<ion-view view-title="My account">
	<ion-content>
		<ul class="list">
			<li class="item item-divider">
				Settings disabled 
			</li>
			<li class="item item-toggle">
				Auto-Play
				 <label class="toggle toggle-balanced">
				   <input type="checkbox" checked>
				   <div class="track">
					 <div class="handle"></div>
				   </div>
				 </label>
			</li>
			<li class="item item-toggle">
				Notifications
				 <label class="toggle toggle-assertive">
				   <input type="checkbox">
				   <div class="track">
					 <div class="handle"></div>
				   </div>
				 </label>
			</li>
			<li class="">
				<label class="item item-input item-select">
					<div class="input-label">
						Color
					</div>
					<select>
						<option>Blue</option>
						<option selected>Green</option>
						<option>Red</option>
					</select>
				</label>
			</li>
			<li class="item range">
				Sound : <br/>
				<i class="icon ion-volume-low"></i>
				<input type="range" name="volume">
				<i class="icon ion-volume-high"></i>
			</li>
		</ul>
	</ion-content>
</ion-view>
